# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database files
*.db
*.sqlite
*.sqlite3
*.session

# Environments
.env
.venv/

# IDE / editor files
*.swp
*.swo
.DS_Store

# Logs and databases
*.log

# Graphs
uml.md

# Docs
*.pptx
*.docx
*.pdf
*.png
*.svg

# VS Code settings
.vscode/settings.json


# Development Phase
Development Phase/presentation_content.md
Development Phase/presentation_for_powerpoint.txt
Development Phase/diagrams_for_presentation.md
